# macOS
.DS_Store

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfplan
.terraform.tfstate.lock.info
terraform/build/
terraform/bootstrap/.terraform/
terraform/bootstrap/.terraform.lock.hcl
